USE [DIGEIGDiagramApp]
GO
/****** Object:  Table [dbo].[Sys_Tb_Institutions]    Script Date: 29/09/2021 09:54:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Tb_Institutions](
	[Id] [uniqueidentifier] NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ReferenceID] [int] NOT NULL,
	[LastModifyBy] [nvarchar](250) NOT NULL,
	[CreateBy] [nvarchar](250) NOT NULL,
	[LastModifyDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Commentary] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sys_Tb_Institutions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_Tb_InstitutionsStructure]    Script Date: 29/09/2021 09:54:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Tb_InstitutionsStructure](
	[Id] [uniqueidentifier] NOT NULL,
	[InstitutionStructureId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[MainInstitutionStructureId] [int] NULL,
	[LastModifyBy] [nvarchar](250) NOT NULL,
	[CreateBy] [nvarchar](250) NOT NULL,
	[LastModifyDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Commentary] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sys_Tb_InstitutionsStructure] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Sys_Tb_Institutions] ([Id], [InstitutionId], [Name], [ReferenceID], [LastModifyBy], [CreateBy], [LastModifyDate], [CreateDate], [IsActive], [Commentary]) VALUES (N'200ca3d5-18a4-40b6-a691-a8450c16c365', 1, N'Dirección General de Ética e Integridad Gubernamental', 123, N'Admin', N'Admin', CAST(N'2021-09-27T09:38:06.5647156' AS DateTime2), CAST(N'2021-09-27T09:38:06.5641894' AS DateTime2), 1, NULL)
GO
INSERT [dbo].[Sys_Tb_InstitutionsStructure] ([Id], [InstitutionStructureId], [InstitutionId], [Name], [Description], [MainInstitutionStructureId], [LastModifyBy], [CreateBy], [LastModifyDate], [CreateDate], [IsActive], [Commentary]) VALUES (N'f10e862e-4f4c-452c-bd78-00ebe95c770a', 10, 1, N'Dirección de Transparencia y Gobierno Abierto', N'Descipcion de la Dirección de Transparencia y Gobierno Abierto', 3, N'Admin', N'Admin', CAST(N'2021-09-27T11:00:45.0799533' AS DateTime2), CAST(N'2021-09-27T11:00:45.0795712' AS DateTime2), 1, NULL)
INSERT [dbo].[Sys_Tb_InstitutionsStructure] ([Id], [InstitutionStructureId], [InstitutionId], [Name], [Description], [MainInstitutionStructureId], [LastModifyBy], [CreateBy], [LastModifyDate], [CreateDate], [IsActive], [Commentary]) VALUES (N'2f2f4b1e-38d3-4c8b-8e59-0caf060b5f12', 33, 1, N'Division de Archivo Central', N'Descripcion de la Division de Archivo Central.', 9, N'Admin', N'Admin', CAST(N'2021-09-27T11:50:17.0724665' AS DateTime2), CAST(N'2021-09-27T11:50:17.0724331' AS DateTime2), 1, NULL)
INSERT [dbo].[Sys_Tb_InstitutionsStructure] ([Id], [InstitutionStructureId], [InstitutionId], [Name], [Description], [MainInstitutionStructureId], [LastModifyBy], [CreateBy], [LastModifyDate], [CreateDate], [IsActive], [Commentary]) VALUES (N'7e4408da-c324-44f0-81f6-0e7a73c6e1bc', 46, 1, N'Division de Comisiones de Etica Publica', N'Descripcion de la Division de Comisiones de Etica Publica edited.', 36, N'Admin', N'Admin', CAST(N'2021-09-27T12:35:43.8531587' AS DateTime2), CAST(N'2021-09-27T12:29:16.0277861' AS DateTime2), 1, NULL)
GO
